<p>
  day3 works!
</p>


<!-- <h1 class="go">Go!!!!!!</h1>

<h1 [class]="successClass">Using Class Binding</h1>

<h1 [class.stop]="isdanger">Stop!!!!!!!!!</h1>

<h1 [ngClass]="myClass">ngClass Working</h1> -->

<!-- Two Way Binding -->
<!-- <input type="text" [(ngModel)]="name">

<h1>{{name}}</h1> -->

<!-- template referene variable -->
<input type="text" #myInput> <br> <br>
<input type="password" #myPassword>
<br> <br>
<button (click)="onClick(myInput.value, myPassword.value)">Submit</button>

<h2>{{msg}}</h2>